
<div class = "r-row">
<!--  recent matches or live scores and upcoming matches-->

  <div class = "r-double-column pl-2" style="padding-right: 8px;">
    <div class="card pl-3">
      <div class = "card-header card-header-danger">
        <h5 class = "card-title">Recent Games</h5>
      </div>
    <div class="game-display">
      <div class="display-card" *ngFor="let game of gameResults | slice:0:2;">

        <!-- start card here -->
        <div class="game-display-card card pl-2">

          <div class="r-row">
            <div class="r-column align-self-center" >
              <div class="inner-content">
                <img src='assets/img/team-logo/{{game.hteam}}.jpg'>
                <div class="line-fix d-flex justify-content-center">{{game.hteam}}</div>
              </div>
            </div>
            <div class="r-column align-items-center align-self-center">
                  <div class="score">
                {{game.hscore}}
                </div>
            </div>
            <div class="r-double-column align-self-center">
              <div class="inner-content location" style="margin-top: 8%;">
                <div class="time ">{{game.date | date}}</div>
                <i class="fas fa-map-marker-alt"></i>
                {{game.venue}}
              </div>
            </div>
            <div class="r-column align-items-center align-self-center">
              <div class="score">{{game.ascore}}</div>
            </div>
            <div class="r-column align-self-center">
              <div class="inner-content justify-content-center">
                <img src='assets/img/team-logo/{{game.ateam}}.jpg'>
                <div class="line-fix d-flex justify-content-center">{{game.ateam}}</div>
              </div>
            </div>
            <div *ngFor="let tip of gameTips">
              <div  *ngIf="game.id == tip.gameid">
                <div class="r-double-column">
                  <div class="inner-content"  style="margin-top: 8%;">
                    <div class="r-row">
                      <div class="r-double-column">
                        {{game.hteam}}
                      </div>
                      <div class="r-column">
                        {{tip.hconfidence}}%
                      </div>
                    </div>
                    <div class="r-row">
                      <div class="r-double-column">
                        {{game.ateam}}
                      </div>
                      <div class="r-column">
                        {{tip.confidence}}%
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- end card here -->
      </div>

    </div>
    </div>
    <div class="card pl-3">
      <div class = "card-header card-header-danger">
        <h5 class = "card-title">Upcoming Games</h5>
      </div>
      <div class="game-display">
        <div class="display-card" *ngFor="let game of gameUpcoming | slice:0:2;">
          <div class="game-display-card card pl-2">

            <div class="r-row">
              <div class="r-column align-self-center" >
                <div class="inner-content">
                  <img src='assets/img/team-logo/{{game.hteam}}.jpg'>
                  <div class="line-fix d-flex justify-content-center">{{game.hteam}}</div>
                </div>
              </div>
              <div class="r-column align-items-center align-self-center">
                <div class="score">
                  <!--{{game.hscore}}-->
                </div>
              </div>
              <div class="r-double-column align-self-center">
                <div class="inner-content location" style="margin-top: 8%;">
                  <div class="time ">{{game.date | date}}</div>
                  <i class="fas fa-map-marker-alt"></i>
                  {{game.venue}}
                </div>
              </div>
              <div class="r-column align-items-center align-self-center">
                <div class="score">
                  <!--{{game.ascore}}-->
                </div>
              </div>
              <div class="r-column align-self-center">
                <div class="inner-content justify-content-center">
                  <img src='assets/img/team-logo/{{game.ateam}}.jpg'>
                  <div class="line-fix d-flex justify-content-center">{{game.ateam}}</div>
                </div>
              </div>

              <div *ngFor="let tip of gameTips">
                <div  *ngIf="game.id == tip.gameid">
                  <div class="r-double-column">
                    <div class="inner-content"  style="margin-top: 8%;">
                      <div class="r-row">
                        <div class="r-double-column">
                          {{game.hteam}}
                        </div>
                        <div class="r-column">
                          {{tip.hconfidence}}%
                        </div>
                      </div>
                      <div class="r-row">
                        <div class="r-double-column">
                          {{game.ateam}}
                        </div>
                        <div class="r-column">
                          {{tip.confidence}}%
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div><!--row-->

          </div>
        </div>

      </div>
    </div>
  </div>
<!--  Ladder of team-->
  <div class = "r-column ">
    <app-ladder></app-ladder>
  </div>
</div>
