.news-header {
    font-size: 1.5vw;
    font-weight: 500;
   border-bottom: 0.1vw solid ;
  padding: 1vh 0vw;
}
.list-group-item{
    font-size: 0.8vw;
    padding: 0.2vw;
    margin-bottom: 0.1vh;
    margin-top: 0.1vh;
   border-left: 0;
   border-right: 0;
   border-top: 0;
    text-align: justify;
  padding-right: 1vw;
}
