div{
    background-color: #213159;
    height: 10vh;
    width: auto;
}
#logo-main{
    display: block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}