
<nav class="navbar navbar-expand-md mb-1 shadow ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img id = "logo-main" src="assets/img/logo_transparent-sm.png" alt="">
    </a>
    <button type="button" class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a routerLink="/" class="nav-item nav-link active">Home</a>
        <a routerLink="/fixtures" class="nav-item nav-link">Fixtures</a>
        <a routerLink="/head-on-head" class="nav-item nav-link">Head on Head</a>
        <a routerLink="/results" class="nav-item nav-link">Results</a>
        <a routerLink = '/nearby' class="nav-item nav-link">Games Near By</a>
        <a routerLink="/ladder" class="nav-item nav-link">Ladder</a>
      </div>

      <div class="navbar-nav ml-auto">

        <!--<div class="dropdown">-->
          <!--<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">-->
            <!--Teams-->
          <!--</button>-->
          <!--<div class="dropdown-menu">-->
            <!--<a class="dropdown-item" href="#">Link 1</a>-->
            <!--<a class="dropdown-item" href="#">Link 2</a>-->
            <!--<a class="dropdown-item" href="#">Link 3</a>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</nav>
<!--<nav class="navbar navbar-expand-md">-->
<!--  <a class="navbar-brand" href="#">-->
<!--    <img src="assets/img/logo_transparent-sm.png" alt="Logo" style="width:8vw;">-->
<!--  </a>-->

<!--</nav>-->
